$darkest: #070808;
$dark: #0a154e;
// $bright: #FEE8A0;
$bright: #c7ba90;
$white: #F1F3F4;

$yankees:#1C2541;
$imperial:#0B4F6C;
$purple:#36213E;


$barcolor: lighten($yankees, 45);

$border-radius: 5px;


$fonts-sans-serif: "Open Sans", "Helvetica", "Arial", sans-serif;