@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700"');
@import 'base-variables';
@import 'config';

@import 'base-mixins';

@import 'reset';
@import 'typography';




.roles{
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			margin-bottom: 3px;
		}
	}
}


.role{
	position: relative;
	
	&__bar{
		background: $bright;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	p{ 
		margin: 0;
		padding: 5px 5px;
		position: relative;
		z-index: 2;
	}
}
