// Enables Tribune colors, but is required for everything.
@import 'base-variables';
@import 'base-config'; // If you are using the off-platform blueprint, uncomment this.

$border-radius: 5px;
$arrest-color: rgba($trib-blue2, .2);
$popup-max-height: 150px;

$darkest: #070808;
// $dark: #293B93;
$dark: #0a154e;
// $dark: #292D74;
$bright: #FEE8A0;
$white: #F1F3F4;

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
// ---- (If working off platform, you can overide variable values here) -----



// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@mixin searchbar($border-radius: 0, $button_color: $trib-gray4, $button-width: 100px){
	// This mixin takes a basic form and turns it into a single piece.
	/*
		<form>
			<input>
			<button>
		</form>
	*/
	// The form is the outermost layer


	display: flex;
	justify-content: space-between;
	align-content: stretch;
	flex-wrap: nowrap;
	
	margin: #{$grid-gap / 2} 0;


	button, input{
		border: 1px solid $button_color;
		box-sizing: border-box;
		font-size: 14px;
	}

	button{
		display:block;

		@supports (width: fit-content){
			width: fit-content;
			padding: #{$grid-gap / 2};
		}

		@supports not (width: fit-content){		
			width: $button-width;
			padding: #{$grid-gap / 2} 0;
		}

		border:none;
		color: #{set-text-color($button_color, true)};
		
		background: $button_color;
		transition: background 150ms ease;
		border-left: none;
		cursor: pointer;
		border-radius: 0 #{$border-radius} #{$border-radius} 0;

		&:hover{
			background: darken($button_color, 10%);
			transition: background 150ms ease;			
		}
	}
	input{
		flex: 1;
		padding: $grid-gap / 2;
		border-right: none;
		border-radius: #{$border-radius} 0 0 #{$border-radius}
	}
}


// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT -----------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';

// ---- OFF-PLATFORM COMPONENT STYLES, UNCOMMENT THE ONES YOU WANT --------------------
// ---- (You'll need most or all of them) ---------------------------------------------
@import 'base-scaffolding';
// @import 'base-footer';
// @import 'base-navbar';
// @import 'base-social';
// @import 'base-byline';
// @import 'base-adverts';
// @import 'base-comments';
// @import 'base-hamburger';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import "../node_modules/awesomplete/awesomplete"; // For the autocomplete
@import 'reset';
@import 'typography';

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

html, body{
	padding: 0 0 $popup-max-height 0;
}

.header{
	@extend %header;
}

#abuse-lookup {
	@include searchbar($border-radius);
	position:relative;
}

.awesomplete{
    flex: 1;
    box-sizing: border-box;
    position: static; // So we can force the popup menu across the whole <form>
	
	input{
		width: 100%;
	}

    & > ul{
        // This is the autocomplete list
        @include agate();
        z-index: 1001;
        max-height: $popup-max-height;
        max-width: 320px;
        overflow: scroll;
        width: 100%;
    }
}

body[data-selection-made]{
	padding: 0;
	.awesomplete{
	    & > ul{
	        // This is the autocomplete list
	        max-height: none;
	        overflow: scroll;
	        background: red;
	    }
	}
}

.profiles{ 
	
	&__school-name{
		@include label6();
		margin: 0 0 7px 0;
	}

	&__total-records{
		@include sans-serif();
		margin: 0 0 7px 0;
	}
	
	table{
		@include trib-table(compressed);
		border-bottom: none;
		.arrests{ max-width: 50px; }
		.date{ min-width: 100px; }
	}
}

.profile--arrest{
	background: $arrest-color;
}

.profiles-legend{
	@include trib-legend(inline);

	span{
		@include trib-legend__box(0);
		background: $arrest-color;
	}
}

.note{
	@include sans-serif();
	margin: 0;
	box-sizing: border-box;
	padding: $grid-gap / 2;
	border: 1px solid $trib-gray3;
	background: $trib-gray4;
	border-radius: $border-radius;

	p{
	    margin: 0;
	}

	figcaption{
		@include label7()	
	}
}

.note--colocated{
	border-color:$trib-red2;
	background: $trib-red4;
}

.note--unknown{
	border-color:$trib-yellow2;
	background: rgba($trib-yellow2, .4);
}

