{% extends "_base.html" %}


{# We just need a stubby, bare-bones HTML tag. We can clear all this crud out #}
{% block prefetch %}{% endblock %}
{% block preconnect %}{% endblock %}
{% block preload %}{% endblock %}
{% block opengraph %}{% endblock %}
{% block twitter %}{% endblock %}
{% block meter %}{% endblock %}
{% block adverts %}{% endblock %}
{% block google_analytics %}{% endblock %}
{% block nav scoped %}{% endblock %}
{% block comments %}{% endblock %}
{% block footer %}{% endblock %}
{% block chartbeat %}{% endblock %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
	<script>
		window.policeReports = {{ crimes|sort(attribute="SCHOOL_NAME")|tojson }};
		window.noteColocated = "{{ note_colocated }}";
		window.noteColocatedHeader = "{{ note_colocated_header }}";
		window.noteUnknown = "{{ note_unknown_school }}";
		window.noteUnknownHeader = "{{ note_unknown_school_header }}";

		{# window.schools = {{ crimes|generate_autocomplete_list }}; #}
	</script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock stylesheets %}


{% block content %}
		<h1 class='header'>{{ db_header }}</h1>
		{{ db_chatter|markdown }}
		
		<form id='abuse-lookup'>
			<label for="school-search-bar" class='sr-only'>Search for a school</label>
			<input id='school-search-bar' type='text' placeholder="Search for a school" />
			<button type='submit'>Search</button>
		</form>
		<dl class='profiles-legend'>
			<dt><span></span></dt>
			<dd>Arrest was made</dd>
		</dl>
		<div class='profiles'>
			<p>No records selected.</p>
		</div>
		
		<div class='credits'>
			{{ sources|markdown }}
		</div>
{% endblock content %}


{% block scripts %}
	<script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script>
{% endblock %}