{% extends "_base.html" %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
	<script>
		window.policeReports = {{ crimes|sort(attribute="SCHOOL_NAME")|tojson }};
		window.noteColocated = "{{ note_colocated }}";
		window.noteColocatedHeader = "{{ note_colocated_header }}";
		window.noteUnknown = "{{ note_unknown_school }}";
		window.noteUnknownHeader = "{{ note_unknown_school_header }}";

		{# window.schools = {{ crimes|generate_autocomplete_list }}; #}
	</script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock stylesheets %}


{% block content %}
	{# YOUR STUFF GOES HERE #}
	<p>Notes, in Faulknerian stream of conciousness ... this is where location is known and school is <em>almost</em> known. Some reports cannot be narrowed down to a single address. ... this database only includes schools with police reports. </p>
	
	<form id='abuse-lookup'>
		<label for="school-search-bar" class='sr-only'>Search for a school</label>
		<input id='school-search-bar' type='text' placeholder="Search for a school" />
		<button type='submit'>Search</button>
	</form>
	<dl class='profiles-legend'>
		<dt><span></span></dt>
		<dd>Arrest was made</dd>
	</dl>
	<div class='profiles'></div>



{% endblock content %}


{% block scripts %}
	<script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script>
{% endblock %}